<template name="settings">

  {{#contentFor "headerTitle"}}
    <h1 class="title">Settings</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
    <div class="item item-divider">
      <h3 class="title">More Settings</h3>
    </div>
    <div class="item">
      <button class="button">Button</button>
    </div>

    {{#if currentUser}}
      <div class="padding">
        <button class="button button-positive button-block" data-action="logout">Log Out</button>
      </div>
    {{else}}
      {{> atForm}}
    {{/if}}


    {{/ionContent}}
  {{/ionView}}
</template>
